<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <add name="RedisConnection"
         connectionString="[your namespace].redis.cache.windows.net:6380,password=[your password],ssl=True,abortConnect=False" />
    <add name="StorageConnection"
         connectionString="DefaultEndpointsProtocol=https;AccountName=[your account name];AccountKey=[your account key];EndpointSuffix=core.windows.net" />
    <add name="ServiceBusConnection"
         connectionString="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <add name="AzureWebJobsDashboard"
         connectionString="DefaultEndpointsProtocol=https;AccountName=[your account name];AccountKey=[your account key];EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage"
         connectionString="DefaultEndpointsProtocol=https;AccountName=[your account name];AccountKey=[your account key];EndpointSuffix=core.windows.net" />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory"
                                  publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform"
                                  publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>